<footer class="container">
    <p class="funny-coin-prompt">由于服务器费用，注册用户赠送1000趣币，用来在本站浏览使用，每幅图消耗100趣币</p>
    <p>本站内容均是由网友收集于网络，如有侵权或其他问题请联系信箱:neihanba@yeah.net 我们会及时处理和回复，谢谢</p>
    <p>百度搜索 内涵吧 即可找到本站，本站域名：neihanba.leanapp.com 本站接受广告服务 请联系邮箱</p>
    <p>我们致力于打造出网络上最优质的漫画趣图网站</p>
</footer>
