<a href="/pictures/<%= picture.get('category') %>/<%= picture.get('number') %>">
    <div class="thumbnail">
        <img src=<%=picture.get('qiniu_url') + previewThumbnail %> alt="...">
        <div class="caption">
            <span><%= picture.get('title') %></span>
        </div>
    </div>
</a>
