<a href="/cartoons/<%= cartoon.get('category') %>/<%= cartoon.get('number') %>">
    <div class="thumbnail">
        <img src=<%=cartoon.get('qiniu_url') + previewThumbnail %> alt="...">
        <div class="caption">
            <span><%= cartoon.get('title') %></span>
        </div>
    </div>
</a>
