<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="navbar" class="navbar-header">
            <button id="toggle-nav" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" href="#">
                内涵吧
                <!--<img alt="Brand" src="">-->
            </a>

            <button class="visible-xs btn btn-link">登录</button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
            </form>

            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">漫画 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cartoons/色系军团">色系军团</a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li><a href="/cartoons/蚂蚁与蜂蜜">蚂蚁与蜂蜜</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="/cartoons/寡妇三代">寡妇三代</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/cartoons/梦龙y传">梦龙y传</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="/cartoons/色小组">色小组</a></li>-->
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>