<!DOCTYPE HTML>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/nav.ejs %>

<div class="container">
  <div>
    <h4>热门漫画</h4>
    <div class="row">
        <% for(var i=0; i< cartoons.length; i++) {%>
      <div id="grid-item" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <% var cartoon = cartoons[i]; %>
          <% include partials/grid-item.ejs %>
      </div>
        <% } %>
    </div>
  </div>

  <div>
    <h4>搞笑动图</h4>
    <p><%= cartoons.length %> </p>
  </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>