<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/cartoons/show.css">
    <title><%= category %></title>
</head>
<body class="cartoon show">
<div class="container center">
    <h3><%= title %></h3>
    <img src=<%= link %>>
</div>
</body>
</html>
