<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/cartoons/show.css">
    <title><%= category %></title>
    <% include ../partials/head.ejs %>
</head>
<body class="cartoon show">
<div class="container center">
    <h3><%= title %></h3>
    <img src=<%= link %>>
</div>
</body>
</html>
