/* 小屏幕（平板，大于等于 768px @screen-sm-min） */
@media (max-width: 768px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  #logo {
    flex-grow: 1;
    text-align: center;
  }

}

/* 中等屏幕（桌面显示器，大于等于 992px @screen-md-min） */
@media (max-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px @screen-lg-min） */
@media (max-width: 1200px) {

}

.thumbnail > .caption > span {
  display: block;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
  width:100%;
}

#grid-item {
  padding: 0 10px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: darkgray;
}