.thumbnail > .caption > span {
  display: block;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
  width:100%;
}

.thumbnail {
  .cover {
    padding-bottom: 75%;
    background-size: cover;
  }
}

.sign-in-sign-up-content {
  padding: 10px 0 20px;
}

.img-logo {
  margin-top: 60px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#box-sign-in {
  border-right: solid 1px lightgray;
  padding: 0 30px;
}

#box-third-party-sign-in {
  margin-top: 20px;
  padding: 0 30px;
}

.text-sign-in-prompt {
  font-size: 12px;
  margin-top: 10px;
}

#box-third-party-sign-in > .btn-third-party-login {
  margin-bottom: 10px;
}

#grid-item {
  padding: 0 10px;
}

.box-paginator {
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination{
    margin-right: 20px;
  }

  span.text-total-pages {
    font-size: 16px;
    line-height: 32px;
  }
}

.btn-more {
  width: 30%;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-size: 13px;
  color: darkgray;
  margin-top: 20px;

  .funny-coin-prompt {
    color: cornflowerblue;
  }
}

/* 小屏幕（平板，大于等于 768px @screen-sm-min） */
@media (max-width: 768px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  #logo {
    flex-grow: 1;
    text-align: center;
  }

  #btn-sign-in {
    display: block;
    width: 100%;
  }

  #box-sign-in {
    border-right: none;
    border-bottom: solid 1px lightgray;
    padding: 0 0 30px;
    margin: 0 30px 30px;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px @screen-md-min） */
@media (max-width: 992px) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px @screen-lg-min） */
@media (max-width: 1200px) {

}