<!DOCTYPE HTML>
<html>
<head>
    <title><%= picture.get('category') %></title>
    <% include ../partials/head.ejs %>
</head>
<body class="picture show">
<div class="container center">
    <h3><%= picture.get('title') %></h3>
    <img src="<%= picture.get('qiniu_url') %>">
</div>
</body>
</html>
